{% extends "beas.html" %}

{% block title %}
    定时修改
{% endblock %}

{% block cssnr %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/updata_jx.css' %}">
{% endblock %}


{% block centent %}
    <div id="main">
        <h2>备份数据</h2>
        <h3>注意 ！<span class="error">“起购”与“描述” </span>备份商品，无法备份。</h3>
        {% csrf_token %}
        <div>
            <label for="poi_id"> 店铺id</label>
            <input type="text" id="poi_id" value="{{ poi_id }}" onkeyup="filterList()">
            <label for="mySelect" id>店铺选项</label>
            <select id="mySelect" size="5">
                {% for item in arr %}
                    <option value="{{ item.1 }}" onclick="selectOption(this)">{{ item.0 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="button-group">
            <button class="btn btn-default">提交备份商品</button>
            <button class="btn btn-default_jg">提交备份折扣价</button>
        </div>
        <div id="error">

        </div>
        <div id="error1">

        </div>

    </div>
{% endblock %}


{% block jsnr %}
    <script>
        function filterList() {
            var input = $('#poi_id').val().toLowerCase();
            $('#mySelect option').each(function () {
                var text = $(this).text().toLowerCase();
                $(this).toggle(text.indexOf(input) > -1);
            });
        }

        function selectOption(selectedOption) {
            document.getElementById('poi_id').value = selectedOption.value;
            // document.getElementById('mySelect').style.display = 'none';
        }

        $('.btn-default').click(function () {
            alert('确定备份')
            $("#error1").empty();
            $('#error').html("正在保存，请稍后")

            var poi_id = $('input[id=poi_id]').val();
            var csrf = $('input[name=csrfmiddlewaretoken]').val();
            var formdata = new FormData();

            formdata.append('poi_id', poi_id);
            formdata.append('csrfmiddlewaretoken', csrf);
            $.ajax({
                url: "/back_poi/{{num}}/{{ aa }}",
                type: 'post',
                data: formdata,
                processData: false, // 不处理数据( 必须有)
                contentType: false,  //不设置内容类型 ( 必须要)
                success: function (res) {
                    if (res['succ']) {
                        $('#error').html("保存成功")
                    } else {
                        $('#error').html(res['msg'])
                    }

                }
            })
        })

        $('.btn-default_jg').click(function () {
            alert('确定备份')
            $('#error').html("正在保存，请稍后")

            var poi_id = $('input[id=poi_id]').val();

            var csrf = $('input[name=csrfmiddlewaretoken]').val();
            var formdata = new FormData();

            formdata.append('poi_id', poi_id);
            formdata.append('csrfmiddlewaretoken', csrf);
            $.ajax({
                url: "/back_jgpoi/{{num}}/{{ aa }}",
                type: 'post',
                data: formdata,
                processData: false, // 不处理数据( 必须有)
                contentType: false,  //不设置内容类型 ( 必须要)
                success: function (res) {
                    if (res['succ']) {
                        $('#error').html("保存成功")
                    } else {
                        $('#error').html(res['msg'])
                    }

                }
            })
        })

    </script>
{% endblock %}


