<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    {% block cssnr %}

    {% endblock %}
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#">服务</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </nav>
</header>

<div class="content-wrapper">
    <aside class="left_nav">
        <ul>
            <li class="list-item">
                <div class="item">夹心修改</div>
                <ul>
                    <li>
                        <div><a href="/jx_rk/0/0">店铺商品信息入库/更新</a></div>
                    </li>
                    <li>
                        <div><a href="/updata_jx/0/1">更改夹心</a></div>
                    </li>
                </ul>
            </li>

            <li class="list-item">
                <div class="item">批量改折扣价格</div>
                <ul>
                    <li>
                        <div><a href="/jx_rk/1/0">店铺商品信息入库/更新</a></div>
                    </li>
                    <li>
                        <div><a href="/zk_rk/1/1">折扣价格入库/更新</a></div>
                    </li>
                    <li><a href="/download_excel/1/2">信息表下载</a></li>
                    <li><a href="/updata_jg/1/3">更改折扣价格</a></li>
                </ul>
            </li>
            <li class="list-item">
                <div class="item">
                    折扣价格同步
                    <span class="error">入库操作，新店，老店、都要执行一次操作</span>
                </div>
                <ul>
                    <li><a href="/jx_rk/2/0">店铺商品信息入库/更新 </a></li>
                    <li><a href="/zk_rk/2/1">折扣价格入库/更新 <span
                            class="error">这里可以多开窗口，新,老店一起跑</span></a></li>
                    <li><a href="/jg_sync/2/2">折扣同步</a></li>
                </ul>
            </li>
            <li class="list-item">
                <div class="item">搬菜单 <span class="error">这里新店不需要信入库！！</span></div>
                <ul>
                    <li><a href="/jx_rk/3/0">店铺商品信息入库/更新，老店执行操作</a></li>
                    <li><a href="/move_product/3/1">菜单同步</a></li>
                </ul>
            </li>
            <li class="list-item">
                <div class="item">销量替换</div>
                <ul>
                    <li><a href="/jx_rk/4/0">商品信息入库/更新</a></li>
                    <li><a href="/zk_rk/4/1">折扣价格入库/更新</a></li>
                    <li><a href="/replace_priduct1/4/2">销量替换</a></li>
                    <li><a href="/replace_priduct2/4/3">销量替换</a></li>
                </ul>
            </li>
            <li class="list-item">
                <div class="item">好评回复</div>
                <ul>
                    <li><a href="/review_reply/5/0">好评回复</a></li>
                </ul>
            </li>
            <li class="list-item">
                <div class="item">定时修改</div>
                <ul>
                    <li><a href="/ds/6/0">定时修改</a></li>
                    <li><a href="/get_ds/6/1">查看定时任务</a></li>
                </ul>
            </li>
            <li class="list-item">
                <div class="item">精准营销</div>
                <ul>
                    <li><a href="/jzyx_2/7/0">自动发券</a></li>
                    <li><a href="/jzyx_1/7/1">手动精准营销</a></li>
                </ul>
            </li>
            <li class="list-item">
                <div class="item">数据备份</div>
                <ul>
                    <li><a href="/back_poi/8/0">备份数据集</a></li>
                    <li><a href="/get_back_poi/8/1">查询备份数据集</a></li>
                </ul>
            </li>
        </ul>
    </aside>

    <main>
        {% block centent %}

        {% endblock %}
        <!-- 这里可以添加更多右边的内容 -->
    </main>
</div>

<footer>
    <p>版权信息 &copy; 2023</p>
</footer>
<script>
    // 如果有需要，你可以在这里添加JavaScript代码来处理点击事件或其他交互
    $("#error1").empty();
    $(".item").click(function () {
        $(this).siblings('ul').toggle();
    })

    $(document).ready(function () {

        const num =
        {{ num }}
        const aa =
        {{ aa }}

        const lis = $(".item").next('ul');
        lis.each(function (index) {
            if (index === num) {
                $(this).toggle();
                $(this).find('li:eq(' + aa + ') a').css({'color': 'orange', "font-size": "23px"});
                console.log($(this).find('li'));

            }
        });

        $('#cookie').on('input', function () {
            var inputValue = $(this).val();

            // 使用正则表达式匹配 wmPoiId= 后面的值
            var regex = /wmPoiId=(\w+);/;
            var match = regex.exec(inputValue);

            if (match && match[1]) {
                // 将匹配到的 wmPoiId 的值设置到第二个输入框
                $('#poi_id').val(match[1]);
            } else {
                // 如果没有找到匹配项，清空第二个输入框
                $('#poi_id').val('');
            }
        });



    })

</script>
{% block jsnr %}

{% endblock %}
</body>
</html>