{% extends "beas.html" %}

{% block title %}
    首页
{% endblock %}
{% block cssnr %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}
{% block centent %}
    <h2>内容</h2>
    {% if poi_id %}
        <ul>
            <li class="item1"><a href="/push_qd/{{ poi_id }}"><span class="nav-s1">{{ wmname }}：<br/>{{ poi_id }}经营数据</span>
            </a></li>
        </ul>
    {% else %}
        <ul>
            <li class="item1"><a href="/push_qd/-1"><span class="nav-s1">{{ wmname }}：<br/>{{ poi_id }}经营数据</span>
            </a></li>
        </ul>
    {% endif %}

{% endblock %}

