{% extends "beas.html" %}

{% block title %}
    菜单同步
{% endblock %}

{% block cssnr %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/updata_jx.css' %}">
    <link rel="stylesheet" href="{% static 'css/sync_jg.css' %}">
{% endblock %}

{% block centent %}
    <div id="main">
        {% csrf_token %}
        <h2>菜单同步</h2>
        <div>
            <label for="poi_id_old"> 老店铺id</label>
            <input type="text" id="poi_id_old">
        </div>
        <div>
            <label for="cookie_old"> 老店店铺cookie</label>
            <textarea id="cookie_old" name="cookie" rows="10" cols="30"></textarea>
        </div>
        <div>
            <label for="poi_id_new"> 新店铺id</label>
            <input type="text" id="poi_id_new">
        </div>
        <div>
            <label for="cookie"> 新店铺cookie</label>
            <textarea id="cookie" name="cookie" rows="10" cols="30"></textarea>
        </div>

        <div>
            <label for="description"> 描述不能同步，给一个默认的描述，不填则默认为空</label>
            <textarea id="description" name="description" rows="10" cols="30"></textarea>
        </div>

        <div>
            <button class="btn btn-default">提交</button>
        </div>

        <div id="error">

        </div>

    </div>
{% endblock %}


{% block jsnr %}
    <script>

        var fat = $('aside > ul > li').eq({{num}})
        fat.find('ul > li').eq(1).addClass('check')
        {#fat.find('').eq(0).addClass('check');#}
        console.log({{ num }})
        $(document).ready(function () {
            // 使得带有.default-open类的.submenu元素展开
            fat.find('ul').css('max-height', 'none'); // 如果你想设置具体高度，可以替换为 '500px'
        });

        $('.btn-default').click(function () {
            alert('确定更改')
            $('#error').html("正在修改，请稍后")
            var poi_id_new = $('input[id=poi_id_new]').val();
            var poi_id_old = $('input[id=poi_id_old]').val();
            var cookie = $('textarea[id=cookie]').val();
            var cookie_old = $('textarea[id=cookie_old]').val();
            var description = $('textarea[id=description]').val() || '1';
            var csrf = $('input[name=csrfmiddlewaretoken]').val();
            var formdata = new FormData();
            formdata.append('poi_id_new', poi_id_new);
            formdata.append('poi_id_old', poi_id_old);
            formdata.append('cookie', cookie);
            formdata.append('cookie_old', cookie_old);
            formdata.append('description', description);
            formdata.append('csrfmiddlewaretoken', csrf);

            $.ajax({
                url: "/move_product/{{num}}",
                type: 'post',
                data: formdata,
                processData: false, // 不处理数据( 必须有)
                contentType: false,  //不设置内容类型 ( 必须要)
                success: function (res) {
                    if (res['msg']) {
                        $('#error').html(res['msg'])
                    } else {
                        $('#error').html(res['succ'])

                    }
                }
            })
        })
    </script>
{% endblock %}


